body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #0a0a0a;
    color: #ffffff;
  }

  .code {
    display: inline-flex;
    align-items: start;
    /* background: #1f1f21; */
    padding: 10px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #ff6b6b, #f5a623, #7ed321, #50e3c2, #4a90e2, #9013fe);
    text-align: left;
    font-family: IBM Plex Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    position: relative;
    overflow: hidden;
    color: #fff;
  }

  .code::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(0, 235, 100, 0.5), transparent);
    transform: skewX(-30deg);
  }

  .code::before {
    animation: shine 3s infinite;
  }

  @keyframes shine {
    0% {
      left: -150%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 150%;
    }
  }


  .copy-code {
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 5px;
    padding: 3px 7px;
    cursor: pointer;
  }
  
  .App {
    text-align: center;
  }
  
  .App-header {
    margin: 50px 0;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .command-box {
    display: inline-flex;
    align-items: center;
    background: #000000;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-right: 3rem;
    margin-top: 2rem;
  }
  
  .command-box code {
    font-size: 1.1em;
    color: #ffffff;
    margin-right: 10px;
  }
  
  .copy-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .demo-button {
    background-color: #000000;
    color: white;
    border: white 0.5px solid;
    padding: 10px 20px;
    height: 3.3rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .features {
    padding: 50px 20px;
    margin-top: -1rem;
  }
  
  .features-grid {
    display: flex;
    overflow: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }
  
  .feature-item {
    padding: 20px;
    width: 15rem;
    text-align: left;
    margin-right: 3rem;
    gap: 3rem;
  }
  
  .feature-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .feature-item p {
    font-size: 1em;
    color: #cccccc;
  }
  