.Para-info{
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  .code-button-page3 {
    background:  #05050B;
    color: white;
    height: 3.5rem;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
    width: 10rem;
    margin-left: -8rem;
  }
  .code-button:hover {
    background: #333333;
    border: none;
  }
  .para{
    display: flex;
    justify-content: space-between;
  }
  .subtitle {
    font-size: 1.3rem;
    margin-bottom: 40px;
    line-height: 1.7rem;
    color:#B4B4A6;
    text-align: left;
  }
  .title {
    font-size: 3.1rem;
    margin-bottom: 20px;
    text-align: left;
  }
  .content-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
  }