.footer-container {
  color: white;
  text-align: center;
  margin-top: 3rem;
  padding: 20px;
}

@media (max-width: 768px) {
  .footer-container {
    font-size: 2rem;
    margin-top: 2rem;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    font-size: 0.8rem;
    margin-top: 1.5rem;
    padding: 10px;
  }
}